<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.sharedsolar"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission
        android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="@string/app_name"
    	android:theme="@style/noTitlePortrait">
        <activity android:name="Login" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TechAuth" android:label="@string/app_name" />
        <activity android:name="TechHome" android:label="@string/app_name" />
        <activity android:name="TechAddCredit" android:label="@string/app_name" />
        <activity android:name="TechAddCreditReceipt" android:label="@string/app_name" />
        <activity android:name="VendorHome" android:label="@string/app_name" />
        <activity android:name="VendorAddCredit" android:label="@string/app_name" />
        <activity android:name="VendorAddCreditReceipt" android:label="@string/app_name" />
        <activity android:name="CreditSummary" android:label="@string/app_name" />
        <activity android:name="AccountList" android:label="@string/app_name" />
    </application>
    
</manifest>
