<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.sharedsolar" android:versionName="2.0.1"
	android:versionCode="8">
	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.Black.NoTitleBar">
		<activity android:name="Chart"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="TechAuth" android:screenOrientation="portrait" />
		<activity android:name="TechHome" android:screenOrientation="portrait" />
		<activity android:name="TechAddCredit" android:screenOrientation="portrait" />
		<activity android:name="TechAddCreditReceipt" android:screenOrientation="portrait" />
		<activity android:name="Login" android:screenOrientation="portrait" />
		<activity android:name="VendorAddCredit" android:screenOrientation="portrait" />
		<activity android:name="VendorAddCreditReceipt"	android:screenOrientation="portrait" />
		<activity android:name="CreditSummary" android:screenOrientation="portrait" />
		<activity android:name="AccountList" android:screenOrientation="portrait" />
		<activity android:name="VendorHome" />
		<activity android:name="org.achartengine.GraphicalActivity" />
	</application>

</manifest>
